<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cmpt276.team8project">

  <application
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name="com.cmpt276.team8project.AppStartup"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <activity android:name="com.cmpt276.team8project.PostGameActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity"/>
    <activity
      android:name="com.cmpt276.team8project.FriendsActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:name="com.cmpt276.team8project.FriendsProfileActivity"
      android:parentActivityName="com.cmpt276.team8project.FriendsActivity" />
    <activity
      android:name="com.cmpt276.team8project.ResetActivity"
      android:parentActivityName="com.cmpt276.team8project.LoginActivity" />
    <activity
      android:name="com.cmpt276.team8project.SecurityActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:name="com.cmpt276.team8project.ChangePasswordActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:name="com.cmpt276.team8project.FaqActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:name="com.cmpt276.team8project.ProfileActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:name="com.cmpt276.team8project.ChatActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:configChanges="orientation|keyboardHidden"
      android:name="com.cmpt276.team8project.GraphActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity" />
    <activity
      android:label="@string/settings"
      android:name="com.cmpt276.team8project.SettingsActivity"
      android:parentActivityName="com.cmpt276.team8project.WelcomeActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.cmpt276.team8project.WelcomeActivity" />
    </activity>
    <activity android:name="com.cmpt276.team8project.MainMenuActivity" />
    <activity
      android:launchMode="singleTop"
      android:name="com.cmpt276.team8project.WelcomeActivity" />
    <activity android:name="com.cmpt276.team8project.NewAccountActivity" />
    <activity android:name="com.cmpt276.team8project.GameActivity" />
    <activity android:name="com.cmpt276.team8project.LoginActivity" />
    <activity android:name="com.cmpt276.team8project.StartupActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>